#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/*  0  1  2  3  4  5        6  7  8  9 10 11 */
/* 12 13 14 15 16 17       18 19 20 21 22 23 */
/* 24 25 26 27 28 29       30 31 32 33 34 35 */
/* 36 37 38 39 40 41 42 43 44 45 46 47 48 49 */
/*          50 51 52 53 54 55 56 57          */

#define LH_KEYS  0  1  2  3  4  5 \
                12 13 14 15 16 17 \
                24 25 26 27 28 29 \
                36 37 38 39 40 41 42

#define RH_KEYS     6  7  8  9 10 11 \
                   18 19 20 21 22 23 \
                   30 31 32 33 34 35 \
                43 44 45 46 47 48 49

#define T_KEYS 50 51 52 53 54 55 56 57

#define BASE 0
#define COLE 1
#define NUM 2
#define SYM 3
#define NAV 4

/ {
    behaviors {
      hml: home_row_mod_left {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "balanced";
        require-prior-idle-ms = <150>;
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <RH_KEYS T_KEYS>;
        hold-trigger-on-release;
      };
      hmr: home_row_mod_right {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "balanced";
        require-prior-idle-ms = <150>;
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <LH_KEYS T_KEYS>;
        hold-trigger-on-release;
      };
    };
    combos {
      compatible = "zmk,combos";
      combo_esc {
          timeout-ms = <25>;
          key-positions = <14 15>;
          bindings = <&kp ESC>;
      };
      combo_tab {
          timeout-ms = <25>;
          key-positions = <38 39>;
          bindings = <&kp TAB>;
      };
      combo_bspc {
          timeout-ms = <25>;
          key-positions = <20 21>;
          bindings = <&kp BSPC>;
      };
      combo_ret {
          timeout-ms = <25>;
          key-positions = <46 47>;
          bindings = <&kp RET>;
      };
      combo_esc2 {
          timeout-ms = <45>;
          key-positions = <13 14>;
          bindings = <&kp ESC>;
      };
      combo_tab2 {
          timeout-ms = <45>;
          key-positions = <37 38>;
          bindings = <&kp TAB>;
      };
      combo_bspc2 {
          timeout-ms = <45>;
          key-positions = <21 22>;
          bindings = <&kp BSPC>;
      };
      combo_ret2 {
          timeout-ms = <45>;
          key-positions = <47 48>;
          bindings = <&kp RET>;
      };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "BASE";
            bindings = <
&kp ESC        &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                                       &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &kp BSPC
&kp TAB        &kp Q          &kp W          &kp E          &kp R          &kp T                                        &kp Y          &kp U          &kp I          &kp O          &kp P          &kp BSLH
&sk LCTL       &kp A          &kp S          &kp D          &kp F          &kp G                                        &kp H          &kp J          &kp K          &kp L          &kp SEMI       &sk RCTL
&sk LSFT       &kp Z          &kp X          &kp C          &kp V          &kp B          &kp LBKT       &kp RBKT       &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH       &sk RSFT
                                             &sk LALT       &sk LGUI       &kp SPACE      &mo NUM        &mo SYM        &kp SPACE      &sk RGUI       &sk RALT
            >;
        };

        colemak_dh_layer {
            display-name = "COLE";
            bindings = <
&kp ESC        &kp N1         &kp N2         &kp N3         &kp N4         &kp N5                                       &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &kp BSPC
&kp TAB        &kp Q          &kp W          &kp F          &kp P          &kp B                                        &kp J          &kp L          &kp U          &kp Y          &kp SEMI       &kp BSLH
&sk LCTL       &kp A          &kp R          &kp S          &kp T          &kp G                                        &kp M          &kp N          &kp E          &kp I          &kp O          &sk RCTL
&sk LSFT       &kp Z          &kp X          &kp C          &kp D          &kp V          &kp LBKT       &kp RBKT       &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH       &sk RSFT
                                             &sk LALT       &sk LGUI       &kp SPACE      &mo NUM        &mo SYM        &kp SPACE      &sk RGUI       &sk RALT
            >;
        };

        number_layer {
            display-name = "NUM";
            bindings = <
&trans         &trans         &trans         &trans         &trans         &trans                                       &trans         &trans         &trans         &trans         &trans         &trans
&trans         &trans         &trans         &trans         &trans         &trans                                       &trans         &kp N7         &kp N8         &kp N9         &kp MINUS      &trans
&trans         &sk LALT       &sk LCTL       &sk LGUI       &sk LSFT       &caps_word                                   &trans         &kp N4         &kp N5         &kp N6         &kp PLUS       &trans
&trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans         &kp N0         &kp N1         &kp N2         &kp N3         &kp EQUAL      &trans
                                             &trans         &trans         &trans         &trans         &mo NAV        &trans         &trans         &trans
            >;
        };

        symbol_layer {
            display-name = "SYM";
            bindings = <
&trans         &trans         &trans         &trans         &trans         &trans                                       &trans         &trans         &trans         &trans         &trans         &trans
&trans         &kp TILDE      &kp RBRC       &kp RBKT       &kp RPAR       &kp DQT                                      &trans         &trans         &trans         &trans         &trans         &trans
&trans         &kp GRAVE      &kp LBRC       &kp LBKT       &kp LPAR       &kp SQT                                      &caps_word     &sk RSFT       &sk RGUI       &sk RCTL       &sk RALT       &trans
&trans         &kp BSLH       &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans
                                             &trans         &trans         &trans         &mo NAV        &trans         &trans         &trans         &trans
            >;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
&kp F1         &kp F2         &kp F3         &kp F4         &kp F5         &kp F6                                       &kp F7         &kp F8         &kp F9         &kp F10        &kp F11        &kp F12
&trans         &trans         &kp C_PREV     &kp C_PP       &kp C_NEXT     &kp C_VOL_UP                                 &kp ESCAPE     &kp HOME       &kp UP         &kp END        &kp BSPC       &trans
&trans         &sk LALT       &sk LCTL       &sk LGUI       &sk LSFT       &kp C_MUTE                                   &kp TAB        &kp LEFT       &kp DOWN       &kp RIGHT      &kp RET        &trans
&trans         &bootloader    &bt BT_PRV     &bt BT_CLR     &bt BT_NXT     &kp C_VOL_DN   &trans         &trans         &trans         &trans         &to BASE       &to COLE       &bootloader    &trans
                                             &trans         &trans         &trans         &trans         &trans         &trans         &trans         &trans
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
